<div class="row">
  <div class="large-6">

    <h1 class="title">Restaurant Listings</h1>
    <% @restaurants.each do |restaurant| %>
      <h3><a href="restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h2>
    <% end %>

    <%= link_to "Add a listing", new_restaurant_path, class: "button tiny" %>
  </div>
</div>
